@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding-inline: .7rem;
  margin-block-start: 1.5rem;
  position: relative;
  overflow-x: hidden;
}

.random {
  max-inline-size: 600px;
  margin-inline: auto;
}

@media (min-width: 500px) {
  .app {
    max-inline-size: 1440px;
  }
  .random {
    margin-block-start: 195px;
  }
}

